<!-- ENDPOINT SLIDES -->

REACT_APP_API_SLIDES_GET=https://ongapi.alkemy.org/api/slides
REACT_APP_API_SLIDES_POST=https://ongapi.alkemy.org/api/slides
REACT_APP_API_SLIDES_PUT=https://ongapi.alkemy.org/api/slides
REACT_APP_API_SLIDES_DELETE=https://ongapi.alkemy.org/api/slides
REACT_APP_API_ACTIVITY_URL=https://ongapi.alkemy.org/api/activities
REACT_APP_API_CATEGORY=https://ongapi.alkemy.org/api/categories
REACT_APP_API_CONTACT_GET=https://ongapi.alkemy.org/api/contacts
REACT_APP_API_CONTACT_POST=https://ongapi.alkemy.org/api/contacts
REACT_APP_API_CONTACT_PUT=https://ongapi.alkemy.org/api/contacts/
REACT_APP_API_CONTACT_DELETE=https://ongapi.alkemy.org/api/contacts/
REACT_APP_API_NEW_GET=https://ongapi.alkemy.org/api/news
REACT_APP_API_NEW_POST=https://ongapi.alkemy.org/api/news
REACT_APP_API_NEW_PUT=https://ongapi.alkemy.org/api/news/
REACT_APP_API_NEW_DELETE=https://ongapi.alkemy.org/api/news/
REACT_APP_API_ORGANIZATION_GET=https://ongapi.alkemy.org/api/organization
REACT_APP_API_ORGANIZATION_POST=https://ongapi.alkemy.org/api/organization
REACT_APP_API_ORGANIZATION_PUT=https://ongapi.alkemy.org/api/organization/
REACT_APP_API_ORGANIZATION_DELETE=https://ongapi.alkemy.org/api/organization/

REACT_APP_API_TESTIMONIOS_GET=https://ongapi.alkemy.org/api/testimonials
REACT_APP_API_TESTIMONIOS_POST=https://ongapi.alkemy.org/api/testimonials
REACT_APP_API_TESTIMONIOS_PUT=https://ongapi.alkemy.org/api/testimonials
REACT_APP_API_TESTIMONIOS_DELETE=https://ongapi.alkemy.org/api/testimonials
