REACT_APP_API_SLIDES="https://ongapi.alkemy.org/api/slides"
REACT_APP_API_ACTIVITIES="https://ongapi.alkemy.org/api/activities"
REACT_APP_API_CATEGORIES="https://ongapi.alkemy.org/api/categories"
REACT_APP_API_CONTACTS="https://ongapi.alkemy.org/api/contacts"
REACT_APP_API_NEWS="https://ongapi.alkemy.org/api/news"
REACT_APP_API_ORGANIZATION="https://ongapi.alkemy.org/api/organization"
REACT_APP_API_MEMBERS="https://ongapi.alkemy.org/api/members"
REACT_APP_API_USERS="https://ongapi.alkemy.org/api/users"
REACT_APP_API_TESTIMONIALS="https://ongapi.alkemy.org/api/testimonials"