.newsletter-message {
  color: white;
  font-size: 1.25rem;
}
.newsletter-form {
  width: 100%;
}
.newsletter-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.newsletter-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .newsletter-message {
    font-size: 1.25rem;
  }
  .newsletter-form {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .newsletter-form {
    width: 55%;
  }
}
