* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  min-height: 100vh;
  /* QUITAR EL DISPLAY FLEX Y SUS PROPIEDADES
  Edit: COMENTADO MOMENTANEAMENTE, QUITAR UNA VEZ DESARROLLADAS TODAS LAS VISTAS */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
