* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  min-height: 100vh;
  margin-top: 50px;
  /* QUITAR EL DISPLAY FLEX Y SUS PROPIEDADES */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}
