/* BORRAR CLASES PLACEHOLDER UNA VEZ CREADOS LOS COMPONENTES CON SUS ESTILOS */

.placeholder-novedades {
  min-height: 20rem;
}

.home-greeting {
  font-weight: 400;
  text-align: center;
}

.home-greeting-container {
  min-height: 15rem;
}
