/* Medium devices (tablets, 768px and up) */
@media (max-width: 1000px) { 
  .flex-row{
    display:block !important;
  }
}
.h-map {
  height: 40vh;
}

.hv-100 {
  height: 100vh;
  line-height:100vh;
}

.wv-100 {
  width: 100vw;
}

.h-40 {
  height: 40px;
}

.w-40 {
  width: 40px;
}

.h-60 {
  height: 60px;
}

.w-60 {
  width: 60px;
}

.line-height-40
{
  line-height: 40px;
}

.line-height-60
{
  line-height: 60px;
}

.mini-card {
  padding: 12px;
  margin-bottom: 10px;
  /* height: 110px; */
}

.mini-card-icon {
  display: inline-block;
  text-align: center;
  float: left;
}

.mini-card-info {
  font-size: 13.5px;
  padding-top: 2px;
}

.rounded {
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.social-media {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    vertical-align: middle
}

.icon-facebook{
  background-color: #334c8c;
  border: #334c8c;
}

.icon-linkedin{
  background-color: #0b69c7;
  border: #0b69c7;
}

.icon-twitter{
  background-color: #00a6de;
  border: #00a6de;
}

.icon-instagram{
  background-color: #a908c7;
  border: #a908c7;
}