/*BREAKPOINT PANTALLA PEQUEÑA*/
@media (max-width: 400px) {
  h5 {
    display: none;
  }
  .logoOng {
    display: none;
  }
}
/* BREAKPOINT TABLET */
@media (max-width: 768px) {
  h5 {
    display: none;
  }
}

/* BREAKPOINT DESKTOP */
@media (max-width: 992px) {
}

/* BREAKPOINT SMART TV */ /*color transparente*/
@media (min-width: 1200px) {
  .Container {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
}
