
.carouselItem::before{
 
    content: '';
    background: linear-gradient(to bottom, rgb(206,89,55,0) 0%, rgb(38,3,3,0.5) 57%, rgb(18,7,7,0.6) 100%);
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;  
    z-index: 1;
  
}
.caption {
  z-index: 2;
  bottom: 100px !important;
}

.caption h2 {
  color: var(--bs-white);
}

.caption p{
  text-align: start;
  color: var(--bs-warning);
}


.carousel-indicators [data-bs-target]{
  background-color: var(--bs-info);
}


.slides-img {
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
  .caption {
    display: none;
  }
  .slides-img{
    height: 250px;
    object-fit: cover;
  }
  .row-buttons{
    width: 500px !important;
  }
}

.row-buttons{
  width: 350px !important;
}

