
.caption {
  bottom: 100px !important;
}

.caption h2 {
  color: var(--bs-white);
}

.caption p {
  text-align: start;
  color: var(--bs-warning);
}


.carousel-indicators [data-bs-target]{
  background-color: var(--bs-info);
}


.slides-img {
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
  .caption {
    display: none;
  }
  .slides-img{
    height: 250px;
    object-fit: cover;
  }
  .row-buttons{
    width: 500px !important;
  }
}

.row-buttons{
  width: 350px !important;
}

